@model MBAM.Annotations.Application.ViewModels.AnnotationHistoryViewModel

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <vc:summary />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" autocomplete="off" autofocus/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>

                <textarea rows="5" asp-for="Description" class="form-control" id="the-textarea" maxlength="500" autocomplete="off" placeholder="..." ></textarea>
                <div id="the-count">
                    <span id="current">0</span>
                    <span id="maximum">/ 500</span>
                </div>

                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
