@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Marcelo Buffone</h1>
    <p>Simple annotation system to put my studies into practice.<a href="https://docs.microsoft.com/aspnet/core"></a></p>
</div>
